* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(90deg, rgba(77, 67, 255, 0.15730042016806722) 0%, rgba(158, 223, 255, 1) 100%);
}


div.block {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

ul {
  margin-right: 20px;
  display: flex;
}

li {
  margin: 0 15px;
  list-style: none;
}

a {
  text-decoration: none;
  padding: 10px 20px;
  color: rgb(52, 52, 52);
  font-size: 22px;
  font-weight: 600;
  transition: .5s;
}

#logo_neo4j {
  width: 30%;
  height: 30%;
  margin-left: 20px;
}

.information {
  width: 100vw;
  height: 88vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#cuerpo {
  width: 100%;
}

.text,
.image {
  width: 50%;
}

.text {
  margin: 0px 20px;
}

.image {
  margin-right: 50px;
}

a:hover {
  color: rgb(19, 204, 250);
}