{%extends 'base.html'%}
{%block title%} Página de Inicio {%endblock%}

{%block content%}

<div class="information">

  <div class="text">
    <h1 style="font-size: 44px;">Bienvenido a la aplicación web utilizada con Neo4j</h1>
    <p style="margin-top: 5px; font-size: 18px;">En esta aplicación podrás realizar la consulta, creación, actualización
      y borrado nodos de 3 árboles genealógicos.
    </p>
  </div>

  <div class="image">

    <img src="https://neo4j.com/docs/getting-started/_images/neo4j-architecture-diagram.svg" id="cuerpo">

  </div>

</div>

{%endblock%}